// Override Orejime default design

// TODO: Use SASS project variables

.orejime {
  &-Notice, &-Modal {
    background-color: #f7f7f7;
    p {
      color: #3d393c;
    }
  }

  &-Notice-logo {
    max-width: 50px;
  }

  &-Notice {
    max-width: 500px;
    &-purposes {
      color: var(--primary);
    }
    &-actionItem--info {
      right: 0;
      position: absolute;
    }
  }

  &-AppItem-title,
  &-AppItem-switchLabel {
    color: #3d393c;
  }

  &-Button {
    &:hover {
      cursor: pointer;
    }
    &--save {
      background: #57d685;
    }
    &--decline {
      background: #ff6767;
    }
    &--info {
      background: #ec5840;
    }
  }
  &-Modal {
    &-privacyPolicyLink {
      color: var(--primary);
    }

    &-saveButton {
      background: var(--primary);
    }
  }
}

#orejime-modal-title{
  color: var(--primary)
}
